<div>
    {{#with elements}}
    <div class="py-2">Elements:</div>

    {{/with}}

    <ol>
        {{#each elements}}
        <li>
            <div>Tag- "{{name}}"</div>


            <div>{{description}}</div>


            <section>
                <div><i>Attributes:</i>
                    <p>{{#each attributes}}
                    <ul>
                        <li><b>{{name}}:</b> {{description}}</li>
                    </ul> {{/each}}</p>
                </div>
            </section>
        </li>
        {{/each}}
    </ol>
</div>

<div>
    {{#with properties}}
    <div class="py-2">Properties:</div>

    {{/with}}

    <ol>
        {{#each properties}}
        <li>
            <div>"{{name}}"</div>


            <div>{{description}}</div>


            <section>
                <div><i>Values:</i>
                    <p>{{#each values}}
                    <ul>
                        <li><b>{{value}}:</b> {{description}}</li>
                    </ul> {{/each}}</p>
                </div>
            </section>
        </li>
        {{/each}}
    </ol>
</div>

<div>
    {{#with functions}}
    <div class="py-2">Functions:</div>

    {{/with}}

    <ol>
        {{#each functions}}
        <li>
            <div>"{{name}}"</div>


            <div>{{description}}</div>


            <section>
                <div><i>Parametrs:</i>
                    <p>{{#each parameters}}
                    <ul>
                        <li><b>{{name}} ({{type}}):</b> {{description}}</li>
                    </ul> {{/each}}</p>
                </div>
            </section>
        </li>
        {{/each}}
    </ol>

</div>