<div>
    <section>

        <div>
            <h1>{{name}}</h1>
        </div>

        <p>{{description}}</p>



        {{#with history}}
        <p>Appeared: {{year}} year</p>
        <p>Founder: {{founder}}</p>
        <div class="py-2">
            <span class="badge text-bg-danger">Types:</span>

            {{#each types}}{{this}}/

            {{/each}}
        </div>
        {{/with}}

        <div>
            <span class="badge text-bg-danger">Syntax:</span>

            {{#with syntax}}

            <div>
                <section>
                    <div class="py-2">
                        <span class="badge text-bg-light">Variables</span>
                        {{#each variables}}

                        <li>{{this}}</li>

                        {{/each}}
                    </div>


                    <div class="py-2">
                        <span class="badge text-bg-light">Functions</span>
                        {{#each functions}}

                        <li>{{this}}</li>

                        {{/each}}
                    </div>

                    <div class="py-2">
                        <span class="badge text-bg-light">Conditionals</span>

                        {{#each conditionals}}

                        <li>{{this}}</li>

                        {{/each}}
                    </div>

                    <div class="py-2">
                        <span class="badge text-bg-light">Loops</span>

                        {{#each loops}}

                        <li>{{this}}</li>

                        {{/each}}
                    </div>



                    <div class="py-2">
                        <span class="badge text-bg-light">Classes</span>
                        {{#each classes}}

                        <li>{{this}}</li>

                        {{/each}}
                    </div>
                    {{/with}}




                    <div class="py-2">
                        <span class="badge rounded-pill text-bg-success my-2">Features:</span>

                        <ul>
                            {{#each features}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>



                    <div class="py-2">
                        <span class="badge rounded-pill text-bg-warning my-2">Libraries:</span>

                        <ul>
                            {{#each libraries}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>



                    <div class="py-2">
                        <span class="badge rounded-pill text-bg-secondary my-2">Tools:</span>

                        <ul>
                            {{#each tools}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>



                    <div class="py-2">
                        <span class="badge rounded-pill text-bg-info my-2">Community:</span>

                        <ul>
                            {{#each community}}
                            <li>{{name}} ({{type}})</li>
                            {{/each}}
                        </ul>
                    </div>

                </section>
            </div>
        </div>

    </section>
</div>