<div>
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <section>
        <div class="py-3">
            {{age}} y.o., {{gender}}
        </div>

        <div class="py-3">
            {{#with address}}
            <address>{{country}}, {{state}} state, {{city}}, {{street}}, {{zip}} </address>
            {{/with}}
        </div>
    </section>

    <hr>


    <section>
        <div class="py-3">
            {{> title data="Education" big=true}}

            <div class="py-3">
                <ul>
                    {{#each education}}
                    <li>{{degree}}/{{major}}, {{university}}, {{graduationYear}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>

    <hr>


    <section>
        <div class="py-3">{{> title data="Work experience" big=true}}</div>

        <div class="py-3">
            {{#each workExperience}}
            <div class="py-3"><b>Company: </b>{{company}}</div>



            <div class="py-3"><b>Position: </b>{{title}}</div>



            <div class="py-3"><b>Duration: </b>{{startDate}} - {{endDate}}</div>



            <div class="py-3">
                <b>Responsibilities: </b>
                <ul>
                    {{#each responsibilities}}
                    <li> {{this}} </li>
                    {{/each}}
                </ul>
            </div>



            <div class="py-3"><b>Year founded: </b>{{year_founded}}</div>



            <div class="py-3"><b>Industry: </b>{{industry}}</div>
            <hr>

            <div class="py-3">
                {{> title data="Employees:" big=null}}

                <section>
                    {{#each employees}}
                    <div class="py-3">
                        <b>Name: </b> {{name}}
                    </div>

                    <div class="py-3">
                        <b>Position: </b> {{position}}
                    </div>

                    <div class="py-3">
                        <b>Department: </b> {{department}}
                    </div>

                    <section>
                        <div class="py-3">
                            {{> title data="Projects:" big=null}}
                        </div>
                        <section>
                            {{#each projects}}
                            <div class="py-3">
                                <b>Name: </b> {{name}}
                            </div>

                            <div class="py-3">
                                <b>Description: </b> {{description}}
                            </div>

                            <div class="py-3">
                                <b>Status: </b> {{status}}
                            </div>


                            <section>
                                <div class="py-1">
                                    {{> title data="Team:" big=null}}
                                </div>

                                {{#each teams}}
                                <div class="py-1">
                                    <b>Name: </b> {{team_name}}
                                </div>

                                <div>
                                    {{#with team_leader}}
                                    <div class="py-2">{{name}} ({{title}})</div>

                                    <div class="py-2"><a href>{{email}}</a></div>

                                    {{/with}}
                                    <section>
                                        <div class="py-2">
                                            {{> title data="Team members:" big=null}}
                                        </div>

                                        <div>
                                            {{#each team_members}}
                                            <ul>
                                                <li>
                                                    <div class="py-1">{{name}} ({{title}})</div>

                                                    <div class="py-1">
                                                        <a href>{{email}}</a>
                                                    </div>

                                                    <div class="py-1">
                                                        <div class="py-1"><b>Skills: </b></div>

                                                        {{#each skills}}
                                                        <ul>
                                                            <li>{{this}} </li>
                                                        </ul>
                                                        {{/each}}
                                                    </div>

                                                    <div>
                                                        <div class="py-1"><b>Projects: </b></div>

                                                        {{#each projects}}
                                                        <div class="py-1">
                                                            <ul>
                                                                <li>{{name}}
                                                                    <p>Description: {{description}}</p>
                                                                    <p class="mb-1">Technologies:
                                                                        {{#each technologies}}
                                                                    <ul>
                                                                        <li>
                                                                            {{this}}
                                                                        </li>
                                                                    </ul>
                                                                    {{/each}}
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>


                                                        <div class="py-3">
                                                            <div class="py-1"><b>Team members:</b></div>



                                                            <div>
                                                                {{#each team_members}}
                                                                <ul>
                                                                    <li>
                                                                        {{name}} ({{title}})
                                                                    </li>
                                                                </ul>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                        {{/each}}
                                                    </div>
                                                </li>
                                            </ul>



                                            {{/each}}
                                        </div>
                                    </section>

                                </div>
                                {{/each}}
                            </section>

                            {{/each}}
                        </section>
                    </section>

                    {{/each}}
                </section>
            </div>

        </div>
        {{/each}}
</div>
</section>
{{/with}}
</div>