<div class="col-12">
    <hr>

    <div class="row my-1">

        {{#with navigation}}
        <div class="nav">

            {{#each links}}
            <div class="nav-item">
                {{#if href value="null"}}
                <a href="{{href}}" class="nav-link">{{text}}</a>
                {{else}}
                <a href="{{href}}" class="nav-link disabled">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}
            {{/with}}
        </div>


    </div>

    <hr>

    <div class="row">
        {{#with header}}
        <div class="mt-4">
            <h1>{{title}}</h1>
        </div>
        <p><a href="{{button.link}}" class="btn btn-outline-secondary my-2">{{button.text}}</a></p>
        {{/with}}
    </div>

    <hr>


    <div class="row py-4">
        {{#each goodsBlock}}
        {{> cartGoodsItem}}
        {{/each}}
    </div>

    <hr>

    <div class="row py-4">
        {{#with total}}
        <h3>{{title}}</h3>

        <h2>{{amount}}</h2>

        <p>{{delivery}}</p>
        {{#each buttons}}

        {{#if isSuccess}}
        <div><a href="{{link}}" class="btn btn-success my-2">{{text}}</a></div>
        {{/if}}

        {{#if isOutline}}
        <div><a href="{{link}}" class="btn btn-outline-success my-2">{{text}}</a></div>
        {{/if}}

        {{/each}}
        {{/with}}
    </div>

    <hr>

    <div class="row py-4">
        {{#with goodsOtherBlock}}
        <h5 class="text-center">{{title}}</h5>


        {{#each cards}}
        <div class="col-4 py-3">
            <div class="card h-100">
                <img class="card-img-top" src="{{image}}">

                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-9">{{title}}</h5>
                        <div class="col-3 ps-0">
                            {{#if isHot}}
                            <span class="badge rounded-pill text-bg-warning">Hot</span>
                            {{else}}
                            <span class="badge rounded-pill text-bg-primary">New</span>
                            {{/if}}
                        </div>
                    </div>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </div>

    <hr>

    <div class="row py-4">
        <div class="card text-bg-dark">
            <div class="row">
                {{#with subscribe}}
                <div class="card-body py-2 ms-1">

                    <h2>{{header}}</h2>

                    <p>{{description}}</p>

                    {{#each buttons}}
                    <p class="mb-0"><a href="{{link}}" class="btn btn-primary my-1">{{text}}</a></p>
                    {{/each}}

                </div>
                {{/with}}
            </div>
        </div>
    </div>


    <hr>

    <div class="row py-4">
        {{#each footer}}
        <div class="nav col-2">
            <table>
                <tbody>
                    <tr><a href="{{[0].link}}" class="nav nav-link py-0">{{[0].text}}</a></tr>
                    <tr><a href="{{[1].link}}" class="nav nav-link">{{[1].text}}</a></tr>
                    <tr><a href="{{[2].link}}" class="nav nav-link">{{[2].text}}</a></tr>
                    <tr><a href="{{[3].link}}" class="nav nav-link disabled">{{[3].text}}</a></tr>
                </tbody>
            </table>
        </div>
        {{/each}}
    </div>
</div>