<main>

    <hr>

    <div class="row my-2">
        <div class="col-12">
            {{#with navigation}}
            <div class="nav">
                <div class="nav-item">
                    <a href="{{links.[0].href}}" class="nav-link active">{{links.[0].text}}</a>
                </div>

                <div class="nav-item">
                    <a href="{{links.[1].href}}" class="nav-link active">{{links.[1].text}}</a>
                </div>

                <div class="nav-item">
                    <a href="{{links.[2].href}}" class="nav-link active">{{links.[2].text}}</a>
                </div>

                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Extra</a>
                </div>

            </div>
            {{/with}}
        </div>
    </div>

    <hr>

    <div class="col-12 py-4">
        {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>

        <div class="row">
            {{#each cards}}
            <div class="col-3 my-1">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <h6 class="card-title">{{title}}</h6>

                        {{#if isTop}}
                        <span class="badge rounded-pill text-bg-danger">TOP</span>
                        {{else}}
                        <span class="badge rounded-pill text-bg-success">New</span>
                        {{/if}}

                    </div>


                    <div class="card-body">
                        <p>{{description}}</p>
                    </div>

                </div>
            </div>
            {{/each}}

        </div>
        {{/with}}
    </div>

    <hr>

    <div class="row">
        <div class="col-12 my-4">
            <div class="nav nav-tabs">
                {{#with goodsBlock}}


                {{#each tabs}}
                <div class="nav-item col-2 mx-3">
                    <div class="nav-link">
                        {{text}}
                    </div>
                </div>

                {{/each}}

                {{!-- <div class="nav-item col-2">
                    <div class="nav-link">{{tabs.[1].text}}</div>
                </div>

                <div class="nav-item col-2">
                    <div class="nav-link">{{tabs.[2].text}}</div>
                </div>

                <div class="nav-item col-2">
                    <div class="nav-link disabled">{{tabs.[3].text}}</div>
                </div> --}}

            </div>
        </div>
    </div>




    <div class="col-12 py-4">
        <div class="row">
            {{#each cards}}

            <div class="col-4 py-3">
                <div class="card">
                    <img class="card-img-top" src="{{image}}">

                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title col-9">{{title}}</h5>
                            <div class="col-3 ps-0">
                                {{#if isHot}}
                                <span class="badge rounded-pill text-bg-warning">Hot</span>
                                {{else}}
                                <span class="badge rounded-pill text-bg-primary">New</span>
                                {{/if}}
                            </div>
                        </div>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{/with}}

</main>