<div>
    <div class="card by-2">
        <div class="card-body">
            <div class="card my-3">
                <div class="card-body">

                    {{#with heading}}

                    <h1>{{main.title}}</h1>

                    <p>{{main.text}}</p>

                    <div class="py-2"><button class="btn btn-primary">{{main.button_text.solid}}</button></div>
                    <div class="py-2"><button class="btn btn-outline-primary">{{main.button_text.outline}}</button>
                    </div>
                </div>
            </div>



            <div class="card my-3">
                <div class="card-body">

                    <h2>{{second.title}}</h2>

                    <p>{{second.text}}</p>

                    <div class="py-2"><button class="btn btn-secondary">{{second.button_text.solid}}</button></div>
                    <div class="py-2"><button class="btn btn-outline-secondary">{{second.button_text.outline}}</button>
                    </div>

                </div>
            </div>


            <div class="card">
                <div class="card-body">

                    <h2>{{subblock.title}}</h2>

                    <p>{{subblock.text}}</p>

                    <div class="py-2"><button class="btn btn-dark">{{subblock.button_text.solid}}</button></div>
                    <div class="py-2"><button class="btn btn-outline-dark">{{subblock.button_text.outline}}</button>
                    </div>

                </div>
            </div>

            {{/with}}
        </div>
    </div>




    <div class="card my-3">
        <div class="card-body">

            {{#with nested_display}}

            <div class="display-1">{{title}}</div>

            <div class="card py-2">
                <div class="card-body">

                    <div class="display-4 py-2">{{children_display.title}}</div>


                    <p>{{children_display.text}}</p>

                    <button type="button" class="btn btn-outline-warning">{{children_display.button.text}}</button>

                </div>
            </div>



            <h6 class="py-2 mt-2">{{header_text}}</h6>

            <button type="button" class="btn btn-info">{{button.text}}</button>

            {{/with}}
        </div>
    </div>



    <div class="card">
        <div class="card-body">

            {{#with paragraph}}

            <p class="text-uppercase">{{title}}</p>

            <p>{{text}}</p>

            <a href="{{button.url}}" class="text-primary">{{button.text}}</a>



            <div class="card my-2">
                <div class="card-body">

                    {{#each list_name}}

                    <li>
                        <a href="{{url}}" class="text-primaty">{{text}}</a>
                    </li>

                    {{/each}}

                </div>
            </div>



            {{/with}}
        </div>
    </div>
</div>