<div>

    <h1 class="text-center">{{page_header.title}}</h1>

    <p class="text-center text-uppercase pb-3">{{page_header.description}}</p>



    {{#with section}}


    <div class="card my-3">
        <div class="card-body">



            <div class="display-6 text-end my-3">{{about_us.title_list.main}}</div>


            <h2 class="text-end my-3">{{about_us.title_list.sub}}</h2>



            <button class="btn btn-outline-info my-3">{{about_us.button.text}}</button>

        </div>
    </div>





    <div class="card my-3">
        <div class="card-body">

            <div class="display-5 my-3">{{advantage.title}}</div>

            {{#with advantage}}



            <div class="card my-3">
                <div class="card-body">

                    <div class="display-4 my-3">{{efficiency.title}}</div>

                    <h6 class="my-3">{{efficiency.sub_title}}</h6>

                    <p class="my-3">{{efficiency.description}}</p>

                    <button type="button" class="btn btn-outline-warning my-3">{{efficiency.button}}</button>

                </div>
            </div>



            <div class="card my-3">
                <div class="card-body">

                    <div class="display-4 text-center my-3">{{innovation.title}}</div>


                    <h6 class="text-center my-3">{{innovation.sub_title}}</h6>


                    <p class="text-center my-3">{{innovation.description}}</p>



                    <button type="button" class="btn btn-outline-warning my-3">{{innovation.button}}</button>

                </div>
            </div>



            <div class="card my-3">
                <div class="card-body">

                    <div class="display-4 text-end my-3">{{collaboration.title}}</div>

                    <h6 class="text-end my-3">{{collaboration.sub_title}}</h6>


                    <p class="text-end my-3">{{collaboration.description}}</p>

                    <button type="button" class="btn btn-outline-warning my-3">{{collaboration.button}}</button>

                </div>
            </div>

            {{/with}}
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            {{#with agreement}}


            <div class="display-5 my-3">{{title}}</div>


            <div class="card">
                <div class="card-body">

                    {{#with info}}

                    <h6 class="my-3">{{sub_title}}</h6>


                    <div class="card">
                        <div class="card-body">

                            <p>{{detail.text}}</p>

                            <button class="btn btn-success">{{detail.button}}</button>

                        </div>
                    </div>


                    {{/with}}
                </div>
            </div>


            {{/with}}
        </div>
    </div>



    {{/with}}
</div>