{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

	{{!--
	<link href='css/style.css' rel='stylesheet' />

	<style>
		h1 {
			color: aqua;
		}
	</style> --}}
</head>

<body class="p-5">
	{{#with header}}
	<header>
		<div class="mb-2">
			<h1>{{name.firstname}} {{name.lastname}}</h1>
		</div>
		<div class="mb-2">
			<b>{{position}}</b>
		</div>

		<div class="mb-2">
			<em>{{salary}}</em>
		</div>
		<hr>
		<div>
			<address>{{address}}</address>
		</div>
	</header>
	{{/with}}

	{{> nav}}

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

	<hr class="my-2">

	{{> footer}}

	{{!-- font awesome --}}
	<script src="https://kit.fontawesome.com/2c7b79d964.js" crossorigin="anonymous"></script>
</body>

</html>